# Build results
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/

# NuGet
*.nupkg
*.snupkg
packages/

# Test results
[Tt]est[Rr]esult*/
TestResults/

# Visual Studio
.vs/
*.user
*.userosscache
*.suo
*.sln.docstates

# JetBrains Rider
.idea/
.fleet/

# OS
.DS_Store
Thumbs.db

# Misc
*.tmp
*.log