$primary: #ecb42b;
// Select menu variables
$select-max-width: 100% !default;
$select-padding: 0.75rem 1rem !default;
$select-border-radius: 100px !default;
$select-border-color: #eff2ee !default;
$select-hover-border-color: #bbb !default;
$select-active-border-color: #ECB42B !default;
$select-bg-color: #f5f5f5 !default;
$select-text-color: #333 !default;
$select-icon-color: #666 !default;
$select-dropdown-shadow: 0 2px 8px rgba(0, 0, 0, 0.1) !default;
$select-option-padding: 0.5rem 1rem !default;
$select-option-hover-bg: #ddd !default;
$select-option-hover-color: #666 !default;
